.modal-wrapper {
   position: absolute;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
   z-index: 990;
   height: fit-content;
   width: fit-content;  
   left: 50%;
   top: 40%;
   padding: 3vw;
   transform: translate(-50%, -50%);
   background-color: rgb(20, 20, 20);
   color: white;
   cursor: pointer !important;
}

.round-feedback {
   width: 20vw;
   position: relative;
   font-size: 1.5vw;
   text-align: center;
}

.next-round-btn {
   border: 2px solid rgb(82, 82, 82);
   width: fit-content;
   padding: 2%;
   margin-top: 7%;
   position: relative;
   font-size: 1vw;
   transition: all .25s;
   border-radius: 5px;
   font-weight: bold;
   user-select: none;
}

.next-round-btn:hover {
   border: 2px solid white;
   color: cyan;
}

.win-span {
   color: rgb(0, 255, 0) !important;
}

.lost-span {
   color: red !important;
}

.drew-span{
   color: cyan
}

/* BREAKPOINTS */
@media only screen and (max-width: 420px) {
   .round-feedback {
      font-size: 30px;
      width: 100%;
   }
   .modal-wrapper {
      width: 75vw;
      padding: 4%;
      background-color: rgb(14, 14, 14);
   }
   .next-round-btn {
      font-size: 20px;
      color: rgb(100, 100, 100);
      border-color: rgb(59, 59, 59);
   }
}