.option-card-wrapper {
   height: 35vh;
   width: 18vw;
   padding: 1vw;
   cursor: pointer;
   transition: all .25s; 
   border-radius: 30px;
}

.option-card-wrapper:hover {
   /* backdrop-filter: brightness(2);   */
   filter: invert(100%);
}

.card-bg {
   position: relative;
   height: 100%;
   /* width: 100%; */
}