.option-card-wrapper {
   height: 25vw;
   /* width: 18vw; */
   padding: 1vw;
   cursor: pointer;
   transition: all .25s; 
   border-radius: 30px;
   z-index: 50;
}

.option-card-wrapper:hover {
   /* backdrop-filter: brightness(2);   */
   filter: invert(100%);
}

.card-bg {
   position: relative;
   height: 100%;
   /* width: 100%; */
}

/* BREAKPOINTS */
@media only screen and (max-width: 420px) {
}