* {
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;

}

.App {
  position: fixed;
  color: rgb(255, 255, 255);
  margin: 0;
  height: 96vh;
  width: 96vw;
  padding: .25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(39, 39, 39);
  font-weight: bold;
}

.main-bg {
  max-height: 100%;
  width: 100%;
}

.App span { 
  color: rgb(0, 0, 0) 
}

.scorecard {
  position: fixed;
  top: 15%;
  font-size: 1vw;
  width: fit-content;
  height: fit-content;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.75);
  left: 50%;
  transform: translateX(-50%);
}

.options-wrapper {
  top: 35%;
  left: 50%;
  width: 70vw;
  transform: translateX(-50%);
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  z-index: 50;
  align-items: center;
}

.shader-layer-end-of-round {
  height: 100vh;
  width: 100vw;
  z-index: 98;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.76);
  -webkit-animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.shader-layer {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.welcomeMsg, .countdown-timer {
  position: absolute;
  top: 5%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  font-size: 1vw;;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
}

.countdown-timer span {
  color: cyan;
}

.scorecard span {
  color: cyan;
}

.toggle-active-backdrop-btn {
  cursor: pointer;
  z-index: 50;
  font-style: italic;
  letter-spacing: .1vw;
  top: 90%;
  left: 2%;
  font-size: 1vw;
  color: white;
  transition: all .25s;
  width: fit-content;
  position: relative;
  border: 1px solid rgb(36, 36, 36);
  padding: .5%;
}

.toggle-active-backdrop-btn:hover {
  border: 1px solid rgba(0, 255, 200, 0);
  color: black;
}

.title {
  font-size: 4vw;
  -webkit-animation: text-blur-out 1.2s reverse both;
  animation: text-blur-out 1.2s  reverse both;
  letter-spacing: .25vw;
  font-style: italic;
  font-weight: 900;
  position: absolute;
}

.t1 {
  animation-delay: .25s;
  margin-left: 2vw;
}

.t2 {
  animation-delay: .5s;
  margin-top: 8vh;
  margin-left: 4vw
}

.t3 {
  animation-delay: .75s;
  margin-top: 16vh;
  margin-left: 6vw
}

/* BREAKPOINTS */
@media only screen and (max-width: 420px) {
  .options-wrapper {
    flex-direction: column;
  }
  .scorecard, .welcomeMsg, .countdown-timer {
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5%;
    padding: 2%;
    width: 50vw;
    overflow: hidden !important;
  }
  .scorecard {
    margin-top: 8%;
  }
  .App {
    width: 90vw;
    height: 80vh;
    overflow: hidden;
  }
  .t1, .t2, .t3 {
    margin-top: 0;
    font-size: 30px;
    font-style: normal;
  }
  .t2 {
    margin-left: 23vw;
  }
  .t3 {
    margin-left: 47vw;;
  }
  .test {
    overflow: hidden;
  }
  .toggle-active-backdrop-btn {
    border-radius: 5px;
    font-size: 15px;
    padding: 2%;
    border: 1px solid rgb(77, 77, 77);
    position: fixed;
    user-select: none;
    color: white;
  }
  .toggle-active-backdrop-btn:hover {
    border: 1px solid rgb(36, 36, 36);
    user-select: none;
  }
}

/* ANIMS */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
